.header {
    font-size: 22px;
    justify-content: center;
    display: flex;
    font-weight: 500;
    letter-spacing: 1px;
    height: 65px;
}

.heading {
    display: flex;
    width: 92%;
    justify-content: center;
    background-color: blue;
    align-items: center;
    color: white;
    border-radius: 20px 20px 0px 0px;
}

.form {
    margin-top: 20px;
    margin-bottom: 20px;
}

.line {
    width: 100%;
    display: flex;
    justify-content: center;
}


.formbody {
    display: flex;
    flex-direction: row;
    width: 92%;
    flex-wrap: wrap;
    background-color: rgb(240, 240, 240);
    gap: 4%;
    border-radius: 0px 0px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.Allcss {
    display: flex;
    flex-direction: column;
    width: 27%;
    margin: 15px;
}

.widthInput {
    margin-top: 10px;
    line-height: 25px;
    /* border: 1px solid red; */
}

label {
    font-size: 16px;
    font-weight: 450;
}

.lowwidthInput {
    width: 45%;
    margin-top: 10px;
    height: 25px;
}

.thebtn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Submitbutton {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 16%;
    align-self: center;
    background-color: rgb(0, 0, 255);
    color: white;
    font-size: 20px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all .6s ease-in-out;
}

.Submitbutton:hover {
    background-color: rgb(0, 150, 255);
    transform: scale(1.02);
}

.Redpara {
    color: red;
    font-size: 18px;
}

textarea.widthInput {
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    overflow-y: scroll;
    min-height: 60px;
    max-height: 100px;
}

@media screen and (max-width: 1100px) {
    .formbody {
        gap: 3%;
    }

    .Allcss {
        width: 25%;
    }

    .Submitbutton {
        width: 25%;
    }
}

@media screen and (max-width: 900px) {
    .formbody {
        gap: 3%;
    }

    .Allcss {
        width: 40%;
    }

    .Submitbutton {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .formbody {
        flex-direction: column;
        justify-content: center;
    }

    .Allcss {
        width: 80%;
        margin: 15px 50px;
    }

    .Submitbutton {
        width: 50%;
    }

}

@media screen and (max-width: 400px) {
    .Allcss {
        width: 80%;
        margin: 15px 30px;
    }
}